In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('combined_dataset.csv')

In [4]:
data

,domain,ranking,isIp,valid,activeDuration,urlLen,is@,isredirect,haveDash,domainLen,nosOfSubdomain,label
0,www.voting-yahoo.com,10000000,0,0,0,20,0,0,1,20,2,1
1,www.zvon.org/xxl/WSDL1.1/Output/index.html,194914,0,1,7305,42,0,0,0,12,2,0
2,tecportais.com/file-security-update-infonfmati...,10000000,0,0,0,155,0,0,0,14,1,1
3,bima.astro.umd.edu/nemo/linuxastro/,7001,0,0,0,35,0,0,0,18,3,0
4,huarui-tec.com/js/?us.battle.net/login/en/?ref...,10000000,0,1,730,79,0,0,1,14,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
95905,www.freewebs.com/ryanrules2/,5001,0,1,8035,28,0,0,0,16,2,0
95906,www.ireland-information.com/freecelticfonts.htm,230251,0,1,8400,47,0,0,1,27,2,0
95907,www.clubtaunus.soroptimist.de/img/pro/e.php,10000000,0,0,0,43,0,0,0,29,3,1
95908,www.askmen.com/sports/business/index.html,2008,0,1,9862,41,0,0,0,14,2,0
95909,xosothudo.com.vn/paypal.co.il/paypal.co.il.cgi...,771840,0,0,0,323,0,0,0,16,2,1

In [5]:
data = data[1:]

In [52]:
data.drop(['domain', 'nosOfSubdomain', 'activeDuration'], axis = 1, inplace=True)

In [35]:
data.corr()

,ranking,isIp,valid,urlLen,is@,isredirect,haveDash,domainLen,label
ranking,1.000000,0.002302,-0.271810,0.104733,0.022798,0.059468,0.103518,0.154659,0.516873
isIp,0.002302,1.000000,0.004698,-0.001197,-0.000799,-0.001312,-0.002781,0.006634,0.012811
valid,-0.271810,0.004698,1.000000,-0.050022,-0.023917,-0.026677,-0.128651,-0.126793,-0.266774
urlLen,0.104733,-0.001197,-0.050022,1.000000,0.017182,-0.010021,0.370280,0.497716,0.396519
is@,0.022798,-0.000799,-0.023917,0.017182,1.000000,-0.004567,0.000549,-0.002268,0.039777
isredirect,0.059468,-0.001312,-0.026677,-0.010021,-0.004567,1.000000,-0.007222,-0.015948,0.073247
haveDash,0.103518,-0.002781,-0.128651,0.370280,0.000549,-0.007222,1.000000,0.365871,0.239623
domainLen,0.154659,0.006634,-0.126793,0.497716,-0.002268,-0.015948,0.365871,1.000000,0.231828
label,0.516873,0.012811,-0.266774,0.396519,0.039777,0.073247,0.239623,0.231828,1.000000

In [39]:
data['ranking'] = data['ranking']/max(data['ranking'])

In [41]:
for i in data.columns:
    data[i] = data[i]/max(data[i])

In [54]:
data.to_csv('preprocessed.csv')

,ranking,isIp,valid,urlLen,is@,isredirect,haveDash,domainLen,label
0,10000000,0,0,20,0,0,1,20,1
1,194914,0,1,42,0,0,0,12,0
2,10000000,0,0,155,0,0,0,14,1
3,7001,0,0,35,0,0,0,18,0
4,10000000,0,1,79,0,0,1,14,1
...,...,...,...,...,...,...,...,...,...
95905,5001,0,1,28,0,0,0,16,0
95906,230251,0,1,47,0,0,1,27,0
95907,10000000,0,0,43,0,0,0,29,1
95908,2008,0,1,41,0,0,0,14,0
95909,771840,0,0,323,0,0,0,16,1

In [48]:
X, Y = data.drop(['label'], axis = 1), data['label']

In [53]:
Y

0        1.0
1        0.0
2        1.0
3        0.0
4        1.0
        ...
95905    0.0
95906    0.0
95907    1.0
95908    0.0
95909    1.0
Name: label, Length: 95910, dtype: float64

In [56]:
data[data['label']  == 1]

,ranking,isIp,valid,urlLen,is@,isredirect,haveDash,domainLen,label
0,10000000,0,0,20,0,0,1,20,1
2,10000000,0,0,155,0,0,0,14,1
4,10000000,0,1,79,0,0,1,14,1
5,10000000,0,1,21,0,0,0,17,1
11,10000000,0,0,54,0,0,0,13,1
...,...,...,...,...,...,...,...,...,...
95898,10000000,0,1,108,0,0,0,10,1
95900,44061,0,1,33,0,0,0,13,1
95904,10000000,0,0,39,0,0,0,14,1
95907,10000000,0,0,43,0,0,0,29,1
95909,771840,0,0,323,0,0,0,16,1

In [63]:
data['notlabel'] = 0
data.loc[data['label'] == 1, 'notlabel'] = 0
data.loc[data['label'] == 0, 'notlabel'] = 1

In [66]:
data.to_csv('preprocessed.csv')